<div class="hitters-box">
  <table>
    <tr>
      <th>選手名</th><th>チーム名</th><th>リーグ名</th><th>打率</th><th>OPS</th><th><%= sort_link(@q, :the_bat,'打席', default_order: :desc, hide_indicator: :true) %></th><th><%= sort_link(@q, :at_bat, '打数', default_order: :desc, hide_indicator: :true) %></th><th><%= sort_link(@q, :hit, 'ヒット', default_order: :desc, hide_indicator: :true) %></th><th><%= sort_link(@q, :second_base, '二塁', default_order: :desc, hide_indicator: :true) %></th><th><%= sort_link(@q, :third_base, '三塁', default_order: :desc, hide_indicator: :true) %></th><th><%= sort_link(@q, :hr, '本塁打', default_order: :desc, hide_indicator: :true) %></th><th><%= sort_link(@q, :total_base, '塁打', default_order: :desc, hide_indicator: :true) %></th><th><%= sort_link(@q, :run_batted_in, '打点', default_order: :desc, hide_indicator: :true) %></th><th><%= sort_link(@q, :bases_on_ball, '四球', default_order: :desc, hide_indicator: :true) %></th><th><%= sort_link(@q, :strike_out, '三振', default_order: :desc, hide_indicator: :true) %></th><th><%= sort_link(@q, :stolen_base, '盗塁', default_order: :desc, hide_indicator: :true) %></th>
    </tr>
    <% @hitters_sort.each do |h| %>
      <tr>
      <td><%= h.name %></td>
      <td><%= h.team.name %></td>
      <td><%= h.league.name %></td>
      <td><%= h.average %></td>
      <td><%= h.ops %></td>
      <td><%= h.the_bat %></td>
      <td><%= h.at_bat %></td>
      <td><%= h.hit %></td>
      <td><%= h.second_base %></td>
      <td><%= h.third_base %></td>
      <td><%= h.hr %></td>
      <td><%= h.total_base %></td>
      <td><%= h.run_batted_in %></td>
      <td><%= h.bases_on_ball %></td>
      <td><%= h.strike_out %></td>
      <td><%= h.stolen_base %></td>
      </tr>
    <% end %>
  </table>
</div>