<%= link_to '両リーグ', hitter17_players_path %>
<%= link_to 'パリーグ', hitter17_pa_players_path %>
<%= link_to '投手データ', '#' %>
<%= link_to '2018年の選手データ', hitter18_players_path %>
<h1>2017年セリーグの打者成績</h1>
<%= render 'hitter_table' %>