<%= link_to '両リーグ', hitter18_players_path %>
<%= link_to 'セリーグ', hitter18_ce_players_path %>
<%= link_to '投手データ', '#' %>
<%= link_to '2017年の選手データ', hitter17_players_path %>
<h1>2018年パリーグの打者成績</h1>
<%= render 'hitter_table' %>