<%= link_to 'パリーグ', hitter18_pa_players_path %>
<%= link_to 'セリーグ', hitter18_ce_players_path %>
<%= link_to '投手データ', pitcher18_players_path %>
<%= link_to '2017年の選手データ', hitter17_players_path %>
<h1>2018年全リーグの打者成績</h1>
<%= render 'hitter_table' %>