<%= link_to '全リーグ', pitcher18_players_path %>
<%= link_to 'セリーグ', pitcher18_ce_players_path %>
<%= link_to '打者データ', hitter18_players_path %>
<%= link_to '2017年の選手データ', pitcher17_players_path %>
<h1>2018年パリーグの投手成績</h1>
<%= render 'pitcher_table' %>