<%= link_to 'パリーグ', pitcher17_pa_players_path %>
<%= link_to 'セリーグ', pitcher17_ce_players_path %>
<%= link_to '打者データ', hitter17_players_path %>
<%= link_to '2018年の選手データ', pitcher18_players_path %>
<h1>2017年全リーグの投手成績</h1>
<%= render 'pitcher_table'%>